name: Publish NuGet Packages

on:
  push:
    tags:
      - "v*"

permissions:
  checks: write
  contents: read

concurrency:
  group: nuget-publish-${{ github.ref }}
  cancel-in-progress: true

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  NuGetDirectory: ${{ github.workspace }}/nuget

jobs:
  build:
    name: Build Projects
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Restore Packages
        run: dotnet restore --nologo

      - name: Build
        run: dotnet build --no-restore --nologo --configuration Release

      - name: Cache Build
        uses: actions/cache/save@v4
        with:
          path: .
          key: build-${{ github.run_id }}-${{ github.run_attempt }}

  lint-dotnet:
    name: Lint DotNet
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Install Tool
        run: dotnet tool restore || true

      - name: Lint DotNet
        id: lint_dotnet
        run: |
          dotnet format --verify-no-changes

  admin_test:
    name: Admin SDK Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Load Cache
        uses: actions/cache/restore@v4
        with:
          path: .
          key: build-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Test Core
        run: dotnet test src/admin/tests/MonoCloud.Management.Admin.UnitTests/MonoCloud.Management.Admin.UnitTests.csproj --no-build --nologo --configuration Release --logger "trx;LogFileName=MonoCloud.Management.Admin.UnitTests.trx"

      - name: Upload test results
        id: upload_artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: MonoCloud.Management.Admin.UnitTests
          path: "**/*.trx"
          overwrite: true

      - name: Report Unit Test Results
        if: success() || failure()
        uses: dorny/test-reporter@v1
        with:
          artifact: MonoCloud.Management.Admin.UnitTests
          name: "Admin SDK Unit Tests"
          path: "**/*.trx"
          reporter: dotnet-trx
          fail-on-error: false

  identity_test:
    name: Identity SDK Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Load Cache
        uses: actions/cache/restore@v4
        with:
          path: .
          key: build-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Test Core
        run: dotnet test src/identity/tests/MonoCloud.Management.Identity.UnitTests/MonoCloud.Management.Identity.UnitTests.csproj --no-build --nologo --configuration Release --logger "trx;LogFileName=MonoCloud.Management.Identity.UnitTests.trx"

      - name: Upload test results
        id: upload_artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: MonoCloud.Management.Identity.UnitTests
          path: "**/*.trx"
          overwrite: true

      - name: Report Unit Test Results
        if: success() || failure()
        uses: dorny/test-reporter@v1
        with:
          artifact: MonoCloud.Management.Identity.UnitTests
          name: "Identity SDK Unit Tests"
          path: "**/*.trx"
          reporter: dotnet-trx
          fail-on-error: false

  pack_core:
    name: Pack Core SDK
    runs-on: ubuntu-latest
    needs: [build, lint-dotnet, admin_test, identity_test]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Load Cache
        uses: actions/cache/restore@v4
        with:
          path: .
          key: build-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Extract version from tag
        id: version
        run: |
          TAG="${GITHUB_REF_NAME}"
          VERSION="${TAG#v}"
          echo "nuget_version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Pack Core SDK
        run: |
          dotnet pack src/core/MonoCloud.Management.Core.csproj \
            --configuration Release \
            --output ${{ env.NuGetDirectory }} \
            /p:ContinuousIntegrationBuild=true \
            /p:PackageVersion=${{ steps.version.outputs.nuget_version }}

      - uses: actions/upload-artifact@v4
        with:
          name: nuget-core
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.NuGetDirectory }}/*.nupkg

  pack_admin:
    name: Pack Admin SDK
    runs-on: ubuntu-latest
    needs: [build, lint-dotnet, admin_test, identity_test]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Load Cache
        uses: actions/cache/restore@v4
        with:
          path: .
          key: build-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Extract version from tag
        id: version
        run: |
          TAG="${GITHUB_REF_NAME}"
          VERSION="${TAG#v}"
          echo "nuget_version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Pack Admin SDK
        run: |
          dotnet pack src/admin/src/MonoCloud.Management.Admin.csproj \
            --configuration Release \
            --output ${{ env.NuGetDirectory }} \
            /p:ContinuousIntegrationBuild=true \
            /p:PackageVersion=${{ steps.version.outputs.nuget_version }}

      - uses: actions/upload-artifact@v4
        with:
          name: nuget-admin
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.NuGetDirectory }}/*.nupkg

  pack_identity:
    name: Pack Identity SDK
    runs-on: ubuntu-latest
    needs: [build, lint-dotnet, admin_test, identity_test]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Load Cache
        uses: actions/cache/restore@v4
        with:
          path: .
          key: build-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Extract version from tag
        id: version
        run: |
          TAG="${GITHUB_REF_NAME}"
          VERSION="${TAG#v}"
          echo "nuget_version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Pack Identity SDK
        run: |
          dotnet pack src/identity/src/MonoCloud.Management.Identity.csproj \
            --configuration Release \
            --output ${{ env.NuGetDirectory }} \
            /p:ContinuousIntegrationBuild=true \
            /p:PackageVersion=${{ steps.version.outputs.nuget_version }}

      - uses: actions/upload-artifact@v4
        with:
          name: nuget-identity
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.NuGetDirectory }}/*.nupkg

  validate_nuget:
    name: Validate NuGet Packages
    runs-on: ubuntu-latest
    needs: [ pack_core, pack_admin, pack_identity ]
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - uses: actions/download-artifact@v4
        with:
          name: nuget-core
          path: ${{ env.NuGetDirectory }}

      - uses: actions/download-artifact@v4
        with:
          name: nuget-admin
          path: ${{ env.NuGetDirectory }}

      - uses: actions/download-artifact@v4
        with:
          name: nuget-identity
          path: ${{ env.NuGetDirectory }}

      - name: Install nuget validator
        run: dotnet tool update Meziantou.Framework.NuGetPackageValidation.Tool --global

      - name: Validate package
        run: meziantou.validate-nuget-package (Get-ChildItem "${{ env.NuGetDirectory }}/*.nupkg")

  publish_nuget:
    name: Publish NuGet Packages
    runs-on: ubuntu-latest
    needs: validate_nuget
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: nuget-core
        path: ${{ env.NuGetDirectory }}

    - uses: actions/download-artifact@v4
      with:
        name: nuget-admin
        path: ${{ env.NuGetDirectory }}

    - uses: actions/download-artifact@v4
      with:
        name: nuget-identity
        path: ${{ env.NuGetDirectory }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.x.x

    - name: Publish NuGet packages
      run: |
        dotnet nuget push "${{ env.NuGetDirectory }}/*.nupkg" \
            --api-key "${{ secrets.NUGET_API_KEY }}" \
            --source "https://api.nuget.org/v3/index.json" \
            --skip-duplicate
